<?php

function genPalindrome()
{
    $palindromes = [
        ['推', 'Sougetu', '叛逆物語真的讚XD', '12/15 22:36'],
        ['推', 'QBian', '劇場版的ＱＢ根本該死', '12/15 22:36'],
        ['→', 'QBian', '人家也最喜歡焰焰了QQ', '12/15 22:36'],
        ['→', 'hwsh60013', '樓上，念在你是一代QB，你還是自焚吧', '12/15 22:41'],
        ['推', 'hollande', '支持小焰把ＱＢ打爆，弄成破破爛爛的樣子', '12/15 22:44'],
        ['推', 'Rain0224', '我覺得這部最棒的是焰和麻美的槍戰 XD', '12/15 22:59'],
        ['→', 'HELLDIVER', '話說 我有轉到惡魔寶冠的轉蛋 一發就轉到了', '12/15 23:32'],
        ['推', 'laba5566', '話說我倒現在還是不太能接受叛逆最後的逆襲QAQ', '12/16 00:38'],
        ['推', 'xa4dd8zz', '支持小焰絲襪破破爛爛的樣子', '12/16 09:04'],
        ['推', 'pchu', '惡魔愛著神 神卻愛世人阿 兩人的理念在最開始就不在一起 虐', '12/16 09:14'],
        ['→', 'pchu', '說到MAD的話推 http://www.bilibili.com/video/av875372/', '12/16 09:23'],
        ['→', 'pchu', '是TeSH在叛逆剛上映沒多久 用TV跟PV素材加上手繪 還原出叛逆', '12/16 09:25'],
    ];

    $result = '';
    foreach ($palindromes as $palindrome) {
        $result .= '<div class="push">';

        if ($palindrome[0] == '推') {
            $result .= '<span class="hl push-tag">推 </span>';
        } else {
            $result .= '<span class="f1 hl push-tag">→ </span>';
        }

        $result .= '<span class="f3 hl push-userid">' . $palindrome[1] . '</span>';
        $result .= '<span class="f3 push-content">: ' . $palindrome[2] . '</span>';
        $result .= '<span class="push-ipdatetime"> ' . $palindrome[3] . '</span>';

        $result .= '</div>';
    }

    return $result;
}

$page_url = 'https://www.ptt.cc/bbs/C_Chat/M.1418653957.A.261.html';

$user = 'none';
$title = '[閒聊] 魔法少女小圓 新篇 叛逆的物語 補完';
$description = '昨天晚上剛看完

沉澱了一天的心情 現在來打心得文

接觸小圓這個作品 是在今年四月 算是我的入坑作吧

剛入ACG這個坑 就看這個作品 老實說一開始只是覺得他的畫風有點怪

怪物都好可愛 然後第三集怎麼學姐就被吃了..

看到後面真的滿黑的 只是看完之後沒什麼感觸 對劇情也沒多想

別人的討論也沒去看

後來越看越多作品 各式各樣的都有看

慢慢會體會劇情 人物的刻畫 分鏡 (只是新房風格的一直抓不清他要幹嘛 哈哈)

再來看小圓第二遍 雖然知道劇情

但是從10集那邊之後 心就覺得好痛.. 精華區的討論串都有看 當年真是大洗版

好誇張

最後一集真的是一直哭 看完真的好虐心

以下正文

叛逆的物語一直有在我的觀看清單裡頭

只是不知為什麼 總是提不起勁來看他 可能是怕被虐吧

一開始的世界 很奇怪 小圓存在

麻美學姐也在 沙耶香跟杏子是好朋友

電影到了中間

在草地上 小焰知道小圓真正的想法

是不可能和大家分離的想法 她開始懷疑自己 當初是不是錯了

這邊哭好慘 小焰這麼努力想要幫小圓 結果卻由本人口中 類似被否定了

中後段 小焰決定自己變成魔女 與其讓小圓的祕密被發現

然後永遠不能和小圓見面 進入不了圓環之理..

Q_Q


後來小圓 要來接她的時候 竟然把她拉下來了啊啊啊啊啊 想都沒想到

用她的"愛"翻轉了整個宇宙 把自己變成魔

創造了小圓所想要的世界 大家在一起的幸福世界

後面虐心的來了

小圓並不記得小焰 這個她創造幸福的世界 並不包含小焰的幸福

即使日後 可能會變成敵人 但小焰還是要給小圓幸福

我真的好愛小焰 全ACG的女角裡面我最喜歡她

小焰的祈願是如此純粹 卻又如此難以實現 重複重複再重複

愛的人卻忘記自己 除了自己之外的人都是幸福的 真的好心痛

一直掉眼淚到ED結束 然後ED結束是什麼鬼啦!!!! 小焰怎麼跳下去

今天看到一個MAD

http://www.bilibili.com/video/av895690/

曾經的我愛著你，你已成神。如今你已不認得我，我卻仍愛著你，只是我已成魔。

還有這張圖

https://i.imgur.com/ArJoNKd.jpg
<div class="richcontent"><blockquote class="imgur-embed-pub" lang="en" data-id="ArJoNKd"><a href="//imgur.com/ArJoNKd"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script></div>

又哭到不能自己了

那個MAD真的剪得很棒

看完這部作品 感覺還是很多地方不太了解

雖然知道大概 但小細節還是滿不清楚的

有沒有推薦的文章讓我補完呢

最後 文章亂亂的抱歉拉 情緒還在起伏

--

';
$post_date = '2014-12-15 22:32:34';
$ip = 'none';